.site-nav {
    list-style: none;
    margin: 28px 0 10px;
}

.site-nav-item  {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
}

.post-template .site-header {
    margin: 0 0 1em;
}

.social-media {
    margin: 10px 0;
    border-top: 1px solid #fff;
    display: block;
    font-size: 30px;
}

.social-media a {
    padding: 5px 8px 0 8px;
}

.multiple article {
    border-bottom: 2px solid #dddddd;
}

.articles .topics {
    display: inline;
    color: #464646;
}

.comments a {
    color: #464646;
    font-size: 75%;
}



