{{! The main content area on the homepage }}
<section class="articles multiple">

	{{! Each post will be output using this markup }}
	{{#foreach posts}}
	<article class="{{post_class}}">

		<header>
            {{> post-info}}
		</header>

		<section>
			<p>{{content}}</p>
		</section>
        <header>
            <span class="comments"><a href="{{url}}#disqus_thread" data-disqus-identifier="{{id}}">Comments</a></span>
        </header>

	</article>
	{{/foreach}}

</section>

{{!! After all the posts, we have the previous/next pagination links }}
{{> pagination}}