{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<section class="articles">
<article class="{{post_class}}">

    <header>
        {{> single-post-info}}
    </header>

    <section>

    	{{content}}

    </section>
</article>
</section>

{{/post}}